<div class="breadcrumb">
  <% if @posts.length != 0 %>
    <% @posts.each {|post| %>
      <div class="panel-group">
        <div class="panel panel-deafault">

        <div class="panel-heading nav">
          <h1 class="panel-title"><%=post.title%></h1>
        </div>

        <div class="panel-collapse collapse in">
          <p class="panel-body">
            Composed by <%= link_to "@#{post.author}", "/" %> (Last update: <%= post.updated_at %>)
            <br/>
            <br/>
            <%= post.doc %>
          </p>
        <%= link_to "Hear code", "/posts/#{post.id}/code" %>
        </div>
      </div>
      <br/>

    <% } %>
  <% else %>
    <p class="has-sucess"> Sorry, we not found any post yet... But you can be the <%= link_to 'first!', new_post_path %></p>
  <% end %>
</div>
