<div class="panel-group">
  <div class="panel panel-deafault">

    <div class="panel-heading nav">
      <h1 class="panel-title"><%=@post.title%></h1>
    </div>

    <div class="panel-collapse collapse in">
      <p class="panel-body">
        Composed by <%= link_to "@#{@post.author}", "/" %> (Last update: <%= @post.updated_at %>)
        <br/>
        <br/>
        <%= @post.doc %>
      </p>
      <%= link_to "Edit", edit_post_path(@post) %>
    </div>

  </div>
</div>
