<ul> Powered by
  <li><%= link_to "Rails", "http://rubyonrails.org/" %> <%= Rails::VERSION::STRING %> (<%= link_to "Ruby", "http://ruby-lang.org" %> v.<%= RUBY_VERSION %>)</li>
  <li><%= link_to "Bootstrap", "http://getbootstrap.com" %> v.3.1.1</li>
  <li><%= mail_to "yaknowboutblogmusic@riseup.net" %></li>
</ul>
  
