<div> Powered by <%= link_to "Rails", "http://rubyonrails.org/" %> <%= Rails::VERSION::STRING %> (<%= link_to "Ruby", "http://ruby-lang.org" %> v.<%= RUBY_VERSION %>) / <%= link_to "Bootstrap", "http://getbootstrap.com" %> v.3.1.1 / <%= mail_to "yaknowboutblogmusic@riseup.net" %></div>
  
